In [2]:
import pandas as pd

# CSV 파일 읽기 및 Parquet으로 저장
df = pd.read_csv("./data/overview_table.csv")

In [3]:
df

            기업명             업종 본사 위치  설립 연도  직원 수  대표자
0     Company_1     Healthcare    서울   2000   100  김철수
1     Company_2        Finance    부산   2005   200  이영희
2     Company_3     Technology    대구   2010   150  박민수
3     Company_4        Finance    인천   2015   180  정혜진
4     Company_5        Finance    광주   2020   250  최성호
..          ...            ...   ...    ...   ...  ...
95   Company_96     Technology    서울   2000   100  김철수
96   Company_97        Finance    부산   2005   200  이영희
97   Company_98         Retail    대구   2010   150  박민수
98   Company_99         Retail    인천   2015   180  정혜진
99  Company_100  Manufacturing    광주   2020   250  최성호

[100 rows x 6 columns]

In [5]:
df.to_parquet("./data/overview_table.parquet", index=False)